{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">Footsall</a>
  </div>
</nav>

<div class="container text-center mt-5">
  <h1 class="display-4">Welcome to Footsall Management System ⚽</h1>
  <p class="lead text-muted">Manage your futsal bookings, teams, and matches efficiently.</p>
  <a href="#" class="btn btn-primary btn-lg mt-3">Get Started</a>
</div>
{% endblock %}
