{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Top Scorers</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Goals</th>
            </tr>
        </thead>
        <tbody>
        {% for s in scorers %}
            <tr>
                <td>{{ s.player__name }}</td>
                <td>{{ s.player__team__name }}</td>
                <td><strong>{{ s.total_goals }}</strong></td>
            </tr>
        {% endfor %}
        </tbody>
         </table>
</div>
{% endblock %}